<template name="sponsors">
	<h2>Thank you to our generous sponsors!</h2>
    <div id="sponsors-container">
    	<a href="http://science.mit.edu/" target="_blank"><img class="sponsor" src="/images/sponsors/SOS Logo.jpg"></a>
    	<a href="http://artofproblemsolving.com/" target="_blank"><img class="sponsor" src="/images/sponsors/aops.jpg"></a>
    </div>
    <p style="text-align:center;">Interested in sponsoring? Contact us at <a href="mailto:northeastscibowl@mit.edu?subject=Science Bowl Sponsorship">northeastscibowl@mit.edu</a>!</p>
</template>
