<template name="tours">
    <h3>Downloading the free MIT Mobile app for your iPhone or Android:</h3>
    <p> The app uses GPS to take you on a self-guided walking tour of the Institute. A word of caution - make sure you search for "Massachusetts Institute of Technology" on your iPhone and"MIT Mobile" on your Android - otherwise you will have difficulty locating the application. Or, click on the buttons below.</p>
    <div id="images">
    	<span><a href="https://play.google.com/store/apps/details?id=edu.mit.mitmobile2&hl=en&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-AC-global-none-all-co-pr-py-PartBadges-Oct1515-1"><img alt="Get it on Google Play" class="app-logo" src="/images/google-play.png" /></a></span>
	    <span><a href="http://itunes.apple.com/us/app/mit-mobile/id353590319"><img src="/images/app-store.svg" alt="Available on the App Store" class="app-logo"></a></span>
    </div>

    <h3>Downloading the PDF for a self-guided tour:</h3>
    <p style="text-align:center;">MIT has published a written guide to campus, which can be downloaded <a href="/self-guided-tour.pdf">here</a>.</p>
    <p style="text-align:center;"><a href="/self-guided-tour.pdf">Click to download PDF tour of MIT campus</a></p>
</template>
