<template name="home">
    
    <div class="feature">
        The 3rd Northeast Regional Middle School Science Bowl<br/>
        will be held <b>February 24th, 2018</b>!
    </div>

    <div class="main-content">
        <p>Join us for the third annual Northeast Regional Middle School Science Bowl on MIT campus! The exciting day will include round robin and double elimination formats, testing your knowledge of math and science to decide who will emerge the champion and win a trip to Washington, DC, for National Finals.</p>

        <p>The Northeast Regional Middle School Science Bowl exists to inspire middle school students to pursue STEM education and careers. Our newly approved event serves 12-14 year old students from five states -- Massachusetts, Maine, New Hampshire, Vermont, and Rhode Island -- allowing them to showcase their skills in this most inspiring day-long academic tournament.</p>

        <blockquote>"As a seven-year alumna of middle and high school Science Bowl, I can vouch for the amazing impact that this program had as the launchpad for my passion in science: as a direct result of participating in Science Bowl, I decided to pursue chemistry as a career. I feel incredibly fortunate to have been inspired by my teammates and competitors at a young age, and this is the reason why I hope to pay it forward by helping to organize the Northeast event for younger peers. It is especially important to show middle school students how valuable and rewarding science can be, so they can explore it throughout their middle and high school years."
            <div style="text-align:right; margin-right:50px;">-MIT student volunteer</div>
        </blockquote>

    <a href="https://goo.gl/photos/tAYNU6Lwe8sr8URM7" target="_blank"><img id="team" class="logo" src="/images/clarke2-web.JPG"></a>
    <h3 style="font-size:1.3em;">Congratulations to Jonas Clarke Middle School, our 2017 regional champions!</h3>

<!--        <p>We need your help to make the event a success. While the <a href="http://science.energy.gov/wdts/nsb/" target="_blank">National Science Bowl</a> is organized by the U.S. Department of Energy, our volunteer teams in Massachusetts and California are responsible for all costs and logistics associated with our two regional events. Your support will be critical to ensure a well-run event in our inaugural year on the east coast, setting a positive precedent moving forward. I assure you that the gratification from seeing hundreds of motivated young students learn, grow, and have fun is well worth the small individual investment.</p>

        <p>From the entire Northeast and California Central Coast Regional Middle School Science Bowl organizing teams, and the hundreds of middle school students competing, thank you so much for your support of STEM education from coast to coast!</p> -->
    </div>
</template>
