<template name="about">
    <div class="main-content">
        <div><a href="http://science.energy.gov/wdts/nsb/" target="_blank"><img src="/images/logo.png" class="logo"/></a></div>

        <p>Launched in 1991, the National Science Bowl® (NSB) is a highly competitive science education and academic event among teams of high school and middle school students who compete in a fast-paced verbal forum to solve technical problems and answer questions in all branches of science and math. Each team is composed of four students, one alternate student, and a coach. Regional and national events encourage student involvement in math and science activities of importance to the Department of Energy and the Nation.</p>

        <p>The National Science Bowl® for Middle School Students was started in 2002 and includes two types of competitions - an academic math and science competition and a model car race. The car race provides the students with a “hands-on” science and engineering experience where the teams design, build, and race their model cars.</p>

        <p>Regional science bowl championship teams receive an all-expenses paid trip to compete at the national event. High school and middle school teams travel to Washington, D.C. in May. The national events are several days of science activities, sightseeing, and competitions. Teams enjoy the entire science bowl experience and take home many prizes. There are cutting-edge science seminars and hands-on science activities.</p>
    </div>
</template>
