@import 'variables';
@import 'lib/elements';


.feature {
    text-align: center;
    font-size: 40px;
    border: 1px solid;
    border-radius: 5px;
    background-color: lightblue;
    padding: 15px 25px;
    margin: 30px 0;
}

.main-content {
    margin: 20px 0;
}

.logo {
    display: block;
    height: auto;
    margin: 0 auto;

    @media all and (max-width: @tabletWidth) {
        min-width: 50%;
    }

}

#team {
    min-width: 50%;
}