// General styles, e. g. for the body tag
@import 'helpers';
@import 'variables';
@import 'lib/elements';
@import url(https://fonts.googleapis.com/css?family=Fauna+One);
@import url(https://fonts.googleapis.com/css?family=Glegoo);

/* -------------------
    Main Content
   ------------------- */

body, #main {
    margin: 0px;
    padding: 0px;
    min-height: 100%;
    max-width: 100%;
    
    overflow-x: hidden;
    color: @primaryFontColor;
    font-family: 'Fauna One', serif;
    src:url("/fonts/FaunaOne-Regular.ttf");
    font-size: 16px;

    background-color: white;
}

#content {
    overflow: auto;
    /*padding-bottom: 60px;*/
    margin: 25px 45px;
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Fauna One', serif;
    text-align: center;
}

a {
    color: inherit;
    transition: 0.3s color;

    &:hover {
        color: @primaryLinkHoverColor;
    }
}

p > a {
    color: @primaryLinkColor;
    font-weight: bold;
}

p {
    margin-top: 20px;
    margin-bottom: 20px;
}

.ui.header {
    font-family: 'Glegoo', serif;
    src:url("/fonts/Glegoo-Regular.ttf");

}

.site-wrapper {
    margin: 0 auto;
    max-width: @largeDesktopWidth;
}

/* -------------------
    Footer
   ------------------- */
.footer-container{
    
    /*width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0px;*/
/*
    position: relative;
    margin-top: -50px;  negative value of footer height 
    height: 50px;*/
    clear:both;

    .footer {
        .border-radius(0px);
        height: 100%;
        text-align: center;


        a:hover {
            color: @secondaryLinkHoverColor;
        }
    }
}
