<template name="header">
    <div class="header-wrapper">
        <h1 class="huge center aligned main ui header">
            <div class="title"><a href="/">{{constant 'name'}}</a></div>
            <div class="sub header">
                <span class="page-link"><a href="/about">About</a></span>
                <span class="page-link"><a href="https://docs.google.com/spreadsheets/d/1r7jq0EQ4U0vM1aTQo_Mwl01clpxFdSj2rNMR0HwGz6c/edit?usp=sharing" target="_blank">Scoreboard</a></span>
                <span class="page-link"><a href="https://goo.gl/photos/JqFuKueNMwgHjVZE8">Photos</a></span>
                <span class="page-link"><a href="/tours">Tours</a></span>
                <span class="page-link"><a href="/sponsors">Sponsors</a></span>
                <span class="page-link"><a href="/contact">Contact</a></span>
            </div>
        </h1>
    </div>    
</template>