<template name="photos">
    <h3>Links to albums:</h3>
    <p style="text-align:center;"><a href="https://photos.app.goo.gl/QpFboG8FnANcaDqS9" target="_blank">2019</a></p>
    <p style="text-align:center;"><a href="https://photos.app.goo.gl/SpQSesrHGYFQ9TeY7" target="_blank">2018</a></p>
    <p style="text-align:center;"><a href="https://goo.gl/photos/tAYNU6Lwe8sr8URM7" target="_blank">2017</a></p>
    <p style="text-align:center;"><a href="https://goo.gl/photos/JqFuKueNMwgHjVZE8" target="_blank">2016</a></p>
</template>
